<div class="journal-card" data-tag="{{ include.tag }}">
  <a href="{{ include.url }}" class="journal-link">
    <div class="journal-card__image">
      <img src="{{ include.image }}" alt="{{ include.title }}" class="w-full h-full object-cover">
    </div>
    <div class="journal-card__body">
      <span class="journal-card__tag journal-card__tag--{{ include.tag }}">{{ include.tag }}</span>
      <h3 class="journal-card__title">{{ include.title }}</h3>
      <p class="journal-card__date">{{ include.date | date: "%Y.%m.%d" }}</p>
    </div>
  </a>
</div>
