:root {
  --color-base: #d7d3c6;
  --color-accent: #2a382f;
  --color-highlight: #9b785c;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-family: 'Zen Maru Gothic', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-base);
  color: var(--color-accent);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
